<a href="https://colab.research.google.com/github/Poonguzhali0409/Assignments/blob/main/Python_Assignment_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##from calc import fact,conv
# tried in anaconda / created calc.py in site-packages

def fact (num) :
   if num==1 :
      return 1
   else :
     return num*fact(num-1)

def conv (deg) :
  return deg*9/5+32

num = int(input ("Enter a number to get the factorial : "))
print(fact(num))
deg = int(input("convert degree to Fahrenheit : "))
print(conv(deg))

Enter a number to get the factorial : 3
6
convert degree to Fahrenheit : 6
42.8

**Fibonacci series**

In [ ]:
def fin(n):
    a, b = 0, 1

    for i in range(n):
        yield a
        a, b = b, a + b


ln = int(input('Enter a number '))
print(list(fin(ln)))

Enter a number 10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

**Reverse**

In [ ]:
my_list = [2, 9, 8, 3]
emp=[]

my_iter = iter(my_list)

for i in range(len(my_list)):
    print(next(my_iter))

for i in range(len(my_list)-1,-1,-1):
    emp.append(my_list[i])
    
print(emp)

2
9
8
3
[3, 8, 9, 2]

### **Decorator function**

In [ ]:
def salary (dec_fun ):
  def nest (basepay,hra,spl):
    print('Base Pay : ',basepay,'HRA : ',hra,'Special Allowance : ',spl)
    basepay = basepay*30/100
    print('Base Pay with tax : ', basepay)
    return dec_fun(basepay,hra,spl)
  return nest

In [ ]:
@salary
def ord_func (basepay,hra,spl):
  sum = basepay+hra+spl
  print('Gross Salary : ',sum)


ord_func(30000,14000,6000)

Base Pay :  30000 HRA :  14000 Special Allowance :  6000
Base Pay with tax :  9000.0
Gross Salary :  29000.0

**Tuple**

In [ ]:
tupl1 = (1,2,[1,2,3])
tupl1[2][0]= 2
tupl1

(1, 2, [2, 2, 3])

In [2]:
t = (5,7,8,90)
lst = list(t)
lst[0] = 300
t = tuple(lst)
print(t)

(300, 7, 8, 90)

In [9]:
h=(1,2,3)
g=(4,5,6)
print(g+h)

(4, 5, 6, 1, 2, 3)