<a href="https://colab.research.google.com/github/Poonguzhali0409/Assignments/blob/main/Python_Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **sum of 2 nums using function**

In [ ]:
def sumof(a,b) :
  return a+b
  
a = int(input("Enter number a : "))
b = int(input("Enter number b : "))
print("Sum of a & b is ",sumof(a,b))

Enter number a : 2
Enter number b : 3
Sum of a & b is  5

### **Add int with str**

In [ ]:
x = 'hi'
y = 20
print(x+y)

TypeError: ignored

### **Print char using membership operator**

In [ ]:
varr = 'Data ScienceS'

x = [a for a in varr if a in 'S']
print(x)

['S', 'S']

### **Function & Arguments**

In [ ]:
def numlist(a)  :
  if a[0] == a[-1] :
    return True 
  else :
    return False
a = [1,2,3,4,5,6,1]
b = [1,2,3,4,5,6,7]
print (numlist(a))
print (numlist(b))

True
False

### **List (divisible by 5)**

In [ ]:
l1 = [10, 20, 33, 46, 55]

divv = [a for a in l1 if a%5==0]

fil = list(filter(lambda x : x%5==0,l1))

print(divv)
print(fil)

[10, 20, 55]
[10, 20, 55]

### **Cal add,sub using fun**

In [ ]:
def calculation(x,y) :
  return (x+y),(x-y)

x = int (input("Enter number one : "))
y = int(input("Enter number two : "))

print("Addition & Subtraction of given numbers are : ",calculation(x,y))

Enter number one : 5
Enter number two : 6
Addition & Subtraction of given numbers are :  (11, -1)

### **non default arguments**

In [ ]:
def calculation(x=5,y) :
  return (x+y),(x-y)

x = int (input("Enter number one : "))
y = int(input("Enter number two : "))

print("Addition & Subtraction of given numbers are : ",calculation(x,y))

SyntaxError: ignored

### **Recursion**

*   Function call itself

In [2]:
def factorial(num) :
  if num==1 :
    return num
  else :
    return num+factorial(num-1)
num = int (input('Enter a number '))
print('Factorial of ',num,'is',factorial(num))

Enter a number 4
Factorial of  4 is 10

### **Filter & Lambda**

In [7]:
a= 	[12, 11, 53, 22, 21, 77, 87, 88, 98]

fil = list(filter(lambda x : x%2 != 0,a))
newlist = list(map(lambda x : x*x,fil))
print(newlist)
print(fil)

[121, 2809, 441, 5929, 7569]
[11, 53, 21, 77, 87]

### **Example of map**

In [13]:
a= 	[12, 11, 53, 22, 21, 77, 87, 88, 98]

notlam = [i*i for i in a]
print(notlam)

def lamm (a) :
  for x in a :
    print(x*x)
print("function : " ,lamm(a))

[144, 121, 2809, 484, 441, 5929, 7569, 7744, 9604]
144
121
2809
484
441
5929
7569
7744
9604
function :  None